<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>COVID Responsive</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/public/css/style.css">
    </head>

    <body>
        <ul class="navbar">
            <li class="navbar"><a href="http://localhost:3000/home" class="navbar">Home</a></li>
            <li class="navbar dropdown">
                <a href="http://localhost:3000/news" class="navbar">News</a>
                <div class="navbar dropdown-content">
                    <a href="http://localhost:3000/news/test" class="navbar">CDC 2019 Novel Coronavirus (RSS Feed)</a>
                    <a href="http://localhost:3000/news/test2" class="navbar">CDC COVID-19 Science Updates Feed (RSS Feed)</a>
                </div>
            </li>
            <li class="navbar"><a href="http://localhost:3000/map" class="navbar">Map</a></li>
            <li class="navbar"><a href="http://localhost:3000/resources" class="navbar">Resources</a></li>
        </ul>

        <main>
            {{{body}}}
        </main>
    </body>

</html>