<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>COVID Responsive</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/public/css/style.css">
    </head>

    <body>
        <ul>
            <li><a href="http://localhost:3000/home">Home</a></li>
            <li><a href="http://localhost:3000/news">News</a></li>
            <li><a href="http://localhost:3000/map">Map</a></li>
            <li><a href="http://localhost:3000/resources">Resources</a></li>
        </ul>
        <main>
            {{{body}}}
        </main>
    </body>

</html>