<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Helpful Resources during COVID crisis </title>
    <link rel="stylesheet" href="/public/css/style.css">

</head>

<body>
    <div class="wrapper">
        <div class="title">
            Resources
        </div>
        <div class="tabs_wrap">
            <ul>
                <li data-tabs="phy">Physical Health</li>
                <li data-tabs="mental">Mental Health</li>
                <li data-tabs="fun">Fun</li>
            </ul>
        </div>
    </div>

    <div class="content_wrap wrapper phy">
        <h3>Physical Health Resources</h3>
        <hr>
        <br>
            <li><a href="https://bestsleephealth.com/anxiety/">A Guide to Sleeping with Coronavirus Anxiety</a></li>
            <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/index.html">Prevent Getting Sick</a></li>
            <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/community/schools-childcare/index.html">Schools & Child Care</a></li>
            <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/community/reopen-guidance.html">Reopening Guidance for Cleaning and Disinfecting Public Spaces, Workplaces, Businesses, Schools, and Homes</a></li>
            <li><a href="https://fitnessgram.net/covid19-resources/">COVID-19 Fitness & PE Resources</a></li>
            <li><a href="https://www.hopkinsmedicine.org/joy-at-jhm/office-of-well-being/covid/physical-activities.html">COVID-19 Physical Activities Resources</a></li>
            <li><a href="https://www.who.int/news-room/campaigns/connecting-the-world-to-combat-coronavirus/healthyathome/healthyathome---physical-activity">#HealthyAtHome - Physical activity</a></li>
            <li><a href="https://www.youtube.com/watch?v=1piFN_ioMVI">How to exercise to keep your immune system healthy</a></li>
            <li><a href="https://health.usnews.com/wellness/fitness/articles/strategies-for-strengthening-your-immune-system-with-exercise">5 Strategies for Strengthening Your Immune System With Exercise</a></li>
            <li><a href="https://www.youtube.com/watch?v=tsirEJLlk10">Simple yoga for a better life during COVID-19</a></li>
            </a></li>
    </div>

    <div class="content_wrap wrapper mental">
        <h3>Mental Health Resources</h3>
        <hr>
        <br>
            <li><a href="https://www.betterhelp.com/helpme/?utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=covid+mental+health+support_e&utm_content=112453028815&network=g&placement=&target=&matchtype=e&utm_campaign=2079213825&ad_type=text&adposition=&gclid=CjwKCAiAv4n9BRA9EiwA30WNDzon5hLjkqBl0jPuBT5WZK83KlTfLTDmgOdfFvHeiq-he0acpyyfPRoCRvsQAvD_BwE&not_found=1&gor=helpme">betterhelp - Affordable, private online counseling
            </a></li>
            <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/daily-life-coping/managing-stress-anxiety.html/">Coping with Stress</a></li>
            <li><a href="https://www.usatoday.com/story/life/health-wellness/2020/03/16/coronavirus-quarantine-100-things-do-while-trapped-inside/5054632002/">100 things to do while stuck inside due to a pandemic</a></li>
            <li><a href="https://thethirty.whowhatwear.com/things-to-do-during-quarantine">24 Little Things You Can Do for Yourself and Others Right Now</a></li>
            <li><a href="https://www.talktomira.com/post/7-things-to-do-at-home-during-the-coronavirus-quarantine">7 Things To Do at Home During The Coronavirus Quarantine</a></li>
            <li><a href="https://www.youtube.com/watch?v=COp7BR_Dvps">30 Minute Relaxing Yoga For Mental Health </a></li> 
            <li><a href="https://www.oberlo.com/blog/23-inspirational-videos-will-completely-blow-away">23 INSPIRATIONAL VIDEOS THAT WILL COMPLETELY BLOW YOU AWAY</a></li>
            <li><a href="https://www.sandiegocounty.gov/content/sdc/hhsa/programs/bhs/covid19_resources.html"> Self care tools, resources, and Info for mental health and wellbeing. </a></li>
            <li><a href="https://nycwell.cityofnewyork.us/en/covid-19-digital-mental-health-resources/">COVID-19 Digital Mental Health Resources</a></li>
            <li><a href="https://namibouldercounty.org/covid-19-mental-health-resources/activities-you-can-do-to-improve-your-mental-health-covid-19-edition/">Activities You Can Do To Improve Your Mental Health (COVID-19 Edition)</a></li>

    </div>

    <div class="content_wrap wrapper fun">
        <h3>Fun Resources</h3>
        <hr>
        <br>
        <ul>
            <li><a href="https://www.btlt.org/fun-resources-during-covid-19/">Fun Resources for our Community during COVID-19 </a></li>
            <li><a href="https://www.peacocktv.com/">Peacock-free streaming service </a></li>
            <li><a href="https://www.scribd.com/books">Scribd-The world's largest digital library</a></li>
            <li><a href="https://parade.com/1012420/nicolepajer/best-online-games/"> The 26 Best Online Games to Play With Friends While Social Distancing </a></li>
            <li><a href="https://www.coursera.org/courses?query=free">Free Courses</a></li>
            <li><a href="https://www.nytimes.com/2020/04/14/travel/52-places-to-go-virtual-travel.html">52 places to visit virtually in 2020 </a></li>
            <li><a href="https://www.weareteachers.com/best-virtual-field-trips/">25+ Amazing Educational Virtual Field Trips</a></li>
            <li><a href="https://artsandculture.google.com/partner?hl=en&tab=pop">Free “Virtual” Museum Visits </a></li>
            <li><a href="https://www.first5california.com/en-us/articles/at-home-learning/">At-Home Learning: Activities & Online Resources </a></li>
            <li><a href="https://explore.org/livecams/zen-den/northern-lights-cam?sc_src=email_86036&sc_lid=4882923&sc_uid=IsSvIvJhJs&sc_llid=148261&sc_eh=9cb75eb2e654c6721&utm_source=email&utm_medium=+Email+Tuesday+2020-03-24"> Live Nature Cams</a></li>
           

        </ul>
    </div>

    <script src="/public/js/script.js"></script>
</body>

</html>
