/*LOAD FONTS*/
@font-face {
  font-family: "Gilroy";
  src: url(./Gilroy-Regular.woff) format(woff);
}
/*GENERAL*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}
html {
  font-size: 16px;
}
.hide {
  display: none;
}
.fadeIn {
  animation: fade 0.5s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*HEADER*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  width: 100%;
  height: 60px;

  margin: 0 auto;

  background-color: #f3f3f2;
}
/*LOGO*/
.logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex: 1;
}
.logo img {
  width: 60px;
}
.logo p {
  font-weight: bold;
  color: #6a149b;
}

/*NAV*/
nav {

}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li:last-child {
  padding-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #6a149b;
  padding: 10px;
}

nav li a:hover {
  background-color: #6a149b;
  color: #f3f3f2;
}

.nav.dropdown {
  display: inline-block;
}

.nav.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f3f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.nav.dropdown-content a {
  color: #6a149b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav.dropdown-content a:hover {
  background-color: #6a149b;
  color: #f3f3f2;
}
  
.nav.dropdown:hover .dropdown-content {
  display: block;
}

/* MAPS */
/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  height: 500px;
  background-color: red;
  padding: 10px;
}
      
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}





/*MAIN*/
main {
  max-width: 1200 px;
  margin: 0 auto;
}
/*BG IMAGE*/
.stats {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(bg.jpg);
  background-size: cover;
}
/*LATEST REPORT*/
.latest-report {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  color: #fff;
}

.country,
.total-cases,
.recovered,
.deaths {
  height: 100 px;
}

.name {
  font-size: 2.2em;
  color: #be64f1;
  font-weight: bold;
}

.change-country {
  cursor: pointer;
}

.title {
  font-size: 1.3em;
}

.total-cases .value {
  font-size: 2 em;
  font-weight: bold;
}

.recovered .value {
  font-size: 2 em;
  font-weight: bold;
  color: #009688;
}

.deaths .value {
  font-size: 2 em;
  font-weight: bold;
  color: #f44336;
}

.new-value {
  font-size: 1.3em;
}
/*CHART*/
.chart {
  width: 80%;
  height: 70vh;
  min-height: 500px;

  margin: 0 auto;
  padding: 50px 0;
}
/*SEARCH COUNTRY*/
.search-country{
    position: relative;
    top: 10px   ;
}
.search-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 30px;
    background-color: #111;
    z-index: 1;
}
.search-box input{
    width: 360px;
    height: 25px;
    border: none;
    background-color: transparent;
    color: #fff;
    padding-left: 15px;
    font-size: 1.1em;
}
.search-box img{
    width: 20px;
    padding-right: 5px;
    cursor: pointer;    
}
.country-list{
    display: flex;
    position: absolute;
    top: 30px;

    width: 400px;
    height: 300px;
    background-color: #111;
    opacity: 0.9;
    overflow-y: scroll;
}
.country-list ul{
    width: 100%;
}
.country-list ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}
.country-list ul li:hover{
    border-left: 1px solid #fff;
}
/* SCROLL BAR from w3 school */
/* width */
.country-list::-webkit-scrollbar {
    width: 10px;
} 
/* Track */
.country-list::-webkit-scrollbar-track {
    background: #111111;
}
/* Handle */
.country-list::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}
/* Handle on hover */
.country-list::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

/*FOOTER*/
footer{
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    background-color: #6a149b;
}
.footer-container{
    height: 100%;
    display: flex;
    justify-content: center;
}
.copyright{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.copyright p{
    color: #fff;
}
/*SCREEN WIDTH < 600px*/
@media screen and (max-width: 600px){
    .latest-report{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
/* Two-column layout for RSS feeds on News tab. */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
