<h1>Welcome to COVID Responsive!</h1>

<p>This website aims to consolidate information on COVID-19 into one place,
    so that users can be more informed about the status of the virus.
</p>

<h2>COVID-19 Statistics</h2>
<p>COVID-19 statistics go here.</p>