<h1 class="news">CDC 2019 Novel Coronavirus</h1>
<!--https://tools.cdc.gov/medialibrary/index.aspx#/feed/id/403372-->
<div class="news-rss-wrapper">
    <script src="//rss.bloople.net/?url=https%3A%2F%2Ftools.cdc.gov%2Fapi%2Fv2%2Fresources%2Fmedia%2F403372.rss&showtitle=false&type=js"></script>
</div>
