<!-- 
    RSS Feed Script Generator
    https://rss.bloople.net/ 
-->


<div class="grid-container">
    <div class="item1">
        <h1>News</h1>
    </div>
    <div class="item2">
        <div class="news-twitter">
            <a class="twitter-timeline" data-height="600" data-width="220" data-theme="dark" 
            href="https://twitter.com/CDCgov?ref_src=twsrc%5Etfw">Tweets by CDCgov></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <div class="item3">
        <div class="news-video-wrapper">
            <iframe class="news" width="560" height="315" src="https://www.youtube-nocookie.com/embed/xmYMUly7qiE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h3><a href="http://localhost:3000/news/videos">More Videos</a></h3>
    </div>
    <div class="item4">
        <h2>RSS feeds about COVID-19.</h2>
        <h3><a href="http://localhost:3000/news/CDC-2019-Novel-Coronavirus">CDC 2019 Novel Coronavirus (RSS Feed)</a></h3>
        <h3><a href="http://localhost:3000/news/CDC-COVID-19-Science-Updates-Feed">CDC COVID-19 Science Updates Feed (RSS Feed)</a></h3>
    </div>
</div>