<!-- 
    RSS Feed Script Generator
    https://rss.bloople.net/ 
-->

<h1>News</h1>

<p>Below is a list of RSS feeds with news on COVID-19.</p>
<ul>
    <li><a href="http://localhost:3000/news/test">CDC 2019 Novel Coronavirus (RSS Feed)</a></li>
    <li><a href="http://localhost:3000/news/test2">CDC COVID-19 Science Updates Feed (RSS Feed)</a></li>
</ul>