<!-- 
    RSS Feed Script Generator
    https://rss.bloople.net/ 
-->
<h1 class="news">News</h1>

<!-- CDC Twitter Feed Embed -->
<div class="news-twitter">
    <a class="twitter-timeline" data-height="450" data-width="220" data-theme="dark" 
    href="https://twitter.com/CDCgov?ref_src=twsrc%5Etfw">Tweets by CDCgov</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!-- COVID-19 YouTube Video Embed -->
<iframe class="news" width="560" height="315" src="https://www.youtube-nocookie.com/embed/xmYMUly7qiE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2 class="news">Below is a list of RSS feeds with news and information on COVID-19.</h2>

<ul class="news">
    <li class="news"><a href="http://localhost:3000/news/CDC-2019-Novel-Coronavirus">CDC 2019 Novel Coronavirus (RSS Feed)</a></li>
    <li class="news"><a href="http://localhost:3000/news/CDC-COVID-19-Science-Updates-Feed">CDC COVID-19 Science Updates Feed (RSS Feed)</a></li>
    <!--<li class="news"><a href="http://localhost:3000/news/rssfeed3">Feed 3</a></li>-->
</ul>