<!-- 
    RSS Feed Script Generator
    https://rss.bloople.net/ 
-->

<h1 class="news">News</h1>

<p class="news">Below is a list of RSS feeds with news and information on COVID-19.</p>

<ul class="news">
    <li class="news"><a href="http://localhost:3000/news/CDC-2019-Novel-Coronavirus">CDC 2019 Novel Coronavirus (RSS Feed)</a></li>
    <li class="news"><a href="http://localhost:3000/news/CDC-COVID-19-Science-Updates-Feed">CDC COVID-19 Science Updates Feed (RSS Feed)</a></li>
    <!--<li class="news"><a href="http://localhost:3000/news/rssfeed3">Feed 3</a></li>-->
</ul>