<h1 class="news">RSS Feed 3</h1>
<script src="//rss.bloople.net/?url=https%3A%2F%2Fwww.npr.org%2Frss%2F&showtitle=false&type=js"></script>


<!--
To Do

 add scrolling box just for rss feed
single background image accross the whole site
add padding on both sides to line up rss feeds with nav bar
twitter feed on news tab
possibly embed a video on news tab

-->