<h1 class="news">Videos</h1>

<h2 class="news">Here are several videos from the CDC's YouTube channel.</h2>
<h2 class="news"><a class="news" href="https://www.youtube.com/user/CDCStreamingHealth">Check out the CDC on YouTube!</a></h2>

<div class="news-video-wrapper">
    <iframe class="news-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/xmYMUly7qiE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="news-video-wrapper">
    <iframe class="news-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/kEhNyxKopsg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="news-video-wrapper">
    <iframe class="news-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/o9ZL8v0nHjY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="news-video-wrapper">
    <iframe class="news-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/YcmGtLlzyvI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="news-video-wrapper">
    <iframe class="news-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/XoVFuGxlV5g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="news-video-wrapper">
    <iframe class="news-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/wuFvWhJoYfw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>